@use 'variables' as v; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    color: v.$black;
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    ::selection{ /* change color of selected text */
        background-color: rgb(194, 189, 53);
        color: rgb(58, 58, 58);
    }
}


[class$="container"],
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

.seccion {
    padding: 8rem 0;
}

ul {
    list-style-type: none;
}