@use 'base/mixins' as m;
@use 'base/variables' as v;

.grid {
    background-color: v.$clr-white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;

    @include m.telefono {
        margin: 1rem;
        margin-top: .5rem;
        padding: 2rem;
    }

    &__warning {
        color: v.$clr-warning;
        font-size: 1.1rem;
    }

    &__header {
        color: v.$clr-main;
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 2.5rem;
        margin-top: 1rem;
        text-decoration: underline v.$clr-highlight;
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;

        @include m.desktop {
            grid-template-columns: repeat(3, 1fr);
        }

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include m.telefono {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.product {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    border: 1px solid v.$border;
    overflow: hidden;
    background-color: v.$clr-main;

    &__img {
        max-width: 100%;
    }

    &__details {
        background-color: v.$clr-main;
        color: v.$clr-white;
        padding: .5rem 1rem;
        /* border-radius: 0 0 1rem 1rem; */
        /* margin-top: -2rem; */
        position: relative;
        display: flex;  
        flex-direction: column;
        row-gap: .5rem;
    }

    &__header {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: underline v.$clr-highlight
    }

    &__bold {
        font-weight: 500;
        font-size: 1.4rem;
        color: v.$clr-highlight
    }

    &__description {
        height: max-content; /* 8rem con boton */
        /* overflow-y: scroll; */
    }

    &__description,
    &__price,
    &__available {
        font-size: 1.2rem;
        padding: 0 .5rem;
    }

    &__add {
        border: 2px solid v.$clr-white;
        background-color: v.$clr-white;
        color: v.$clr-main;
        padding: .4rem;
        text-transform: uppercase;
        border-radius: 100vmax;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
            background-color: v.$clr-main;
            color: v.$clr-white;
        }
    }

    
}